* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header,
footer,
.hero {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 20px 100px 20px 100px;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

a,
footer {
  font-size: 18px;
  color: #e5e7eb;
}

header ul {
  list-style: none;
  display: flex;
  gap: 32px;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero {
  flex: 1;
}

.random-info {
  background-color: purple;
}

.quote {
  background-color: green;
}

.call-to-action {
  background-color: pink;
}

.hero h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  max-width: 30ch;
}

.hero p {
  font-size: 18x;
  color: #e5e7eb;
  max-width: 50ch;
}

button {
  background-color: #3882f6;
  color: white;
  border-radius: 0.5ch;
  border-width: 0;
  padding: 0.5ch 2ch;
  margin-top: 1ch;
}

footer {
  margin-top: auto;
  justify-content: center;
  align-content: center;
}
