* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header,
footer {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 20px 100px 20px 100px;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

a,
footer {
  font-size: 18px;
  color: #e5e7eb;
}

header ul {
  list-style: none;
  display: flex;
  gap: 32px;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  justify-content: center;
}
